manifest {
    author = "Jimmy Liu"
    version = "1.0"
    name = "isPCR"
    homePage = 'https://github.com/jimmyliu1326/isPCR'
    description = 'Rapid local alignment search by in-silico PCR'
    mainScript = "main.nf"
    nextflowVersion = ">=21.0.0"
    manifest.defaultBranch = "main"
}

params {
    input = null
    outdir = null
    primer = null
    max_length = 1000
    multiplex = false
    probe_min_tm = 40
    primer_min_tm = 40
    input_format = 'fasta'
    help = false
    version = false
}

process {
    withLabel:process_low {
        cpus = { 4 }
        memory = { 2.GB }
        time = { 2.h }
    }
    withLabel:process_medium {
        cpus = { 16 }
        memory = { 16.GB }
        time = { 12.h }
    }
    withLabel:process_high {
        cpus = { 32 }
        memory = { 32.GB }
        time = { 24.h }
    }
}

// profile definitions
profiles {

    standard {
        includeConfig 'conf/docker.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
        includeConfig 'conf/singularity.config'
    }

    

}


// Trace pipeline execution metrics
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}