process {
    withName:tntblast {
        container = 'jimmyliu1326/thermonucleotideblast:2.4'
    }
    withName:fq2fa {
        container = 'nanozoo/seqkit:2.3.1--401ce9e'
    }
    withName:blast2fa {
        container = 'jimmyliu1326/thermonucleotideblast:2.4'
    }
    withName:blast2bed {
        container = 'jimmyliu1326/thermonucleotideblast:2.4'
    }
    withName:fa2tab {
        container = 'nanozoo/seqkit:2.3.1--401ce9e'
    }
    withName:blast_summary {
        container = 'jimmyliu1326/ispcr-r:1.0'
    }
    withName:combine_summary {
        container = 'jimmyliu1326/ispcr-r:1.0'
    }
}

docker {
    enabled = true
    runOptions = '--rm -u $(id -u):$(id -g)'
}