process {
    withName:tntblast {
        container = 'docker://jimmyliu1326/thermonucleotideblast:2.4'
    }
    withName:fq2fa {
        container = 'docker://nanozoo/seqkit:2.3.1--401ce9e'
    }
    withName:blast2fa {
        container = 'docker://jimmyliu1326/thermonucleotideblast:2.4'
    }
    withName:blast2bed {
        container = 'docker://jimmyliu1326/thermonucleotideblast:2.4'
    }
    withName:fa2tab {
        container = 'docker://nanozoo/seqkit:2.3.1--401ce9e'
    }
    withName:blast_summary {
        container = 'docker://jimmyliu1326/ispcr-r:1.0'
    }
    withName:combine_summary {
        container = 'docker://jimmyliu1326/ispcr-r:1.0'
    }
}

singularity {
    enabled = true
    autoMounts = true
}